// ================================================= /
// ======   TEXT HELPERS MODULE   ================== /
// ================================================= /

// - DESCRIPTION ----------------------------------- /
//
//   Outputs helper classes related to text properties.
//
//   Uses static responsive classes.
//
// - Configuration --------------------------------- /
//
//   Parameter: include-colors (bool/list)
//
//   Description: Determines which colors to include
//   as helper classes. Values included here must
//   correspond to colors specified in the color map.
//
//   Renders classes as &--color-#{$color}
//
//   ----------------------------------------------- /
//
//   Parameter: include-font-families (bool/list)
//
//   Description: Determines which font families to
//   include as helper classes. Values included here
//   must correspond to font families specified in
//   the font map.
//
//   Renders classes as &--family-#{$font}
//
//   ----------------------------------------------- /
//
//   Parameter: include-responsive-classes (bool/list)
//
//   Description: Determines which responsive classes
//   to include with each helper class in the module.
//   Passing a bool of 'true' assumes all responsive
//   classes are to be included.
//
//   ----------------------------------------------- /
//
//   Parameter: breakpoint-map (map)
//
//   Description: Determines which breakpoint map will
//   be used to set the responsive classes.
//
//   ----------------------------------------------- /
//
//   Parameter: additional-class-map (map)
//
//   Description: Additional classes and styles to add.
//
// ------------------------------------------------- /


@mixin PSJ_text-helpers($config: ()) {

	// ------   Default Configuration   ------------ /

	$config: map-merge((
		include-colors: true,
		include-font-families: true,
		include-responsive-classes: true,
		breakpoint-map: $PSJ_breakpoint-map,
		additional-class-map: ()
	), $config);

	// Set up helper classes
	$helper-classes: (
		uppercase: (
			text-transform: uppercase
		),
		lowercase: (
			text-transform: lowercase
		),
		capitalized: (
			text-transform: capitalize
		),
		no-transform: (
			text-transform: none
		),
		align-left: (
			text-align: left
		),
		align-center: (
			text-align: center
		),
		align-right: (
			text-align: right
		)
	);

	// Normalize included colors and fonts
	$included-colors: PSJ_selective-list(map-get($config, include-colors), map-keys($PSJ_color-map));
	$included-font-families: PSJ_selective-list(map-get($config, include-font-families), map-keys($PSJ_font-family-map));

	// Add colors from color map to helper classes
	@each $color in $included-colors {
		$helper-classes: map-merge($helper-classes, (#{'color-' + $color}: (color: map-get($PSJ_color-map, $color))));
	}

	// Add fonts from font family map to helper classes
	@each $font-family in $included-font-families {
		$helper-classes: map-merge($helper-classes, (#{'family-' + $font-family}: (font-family: map-get($PSJ_font-family-map, $font-family))));
	}

	// Merge additional classes into helper classes
	$helper-classes: map-merge($helper-classes, map-get($config, additional-class-map));


	// ------   Registration   --------------------- /

	$registration: PSJ_register-module(text-helpers, #{&}, ());


	// ------   Generated CSS   -------------------- /

	@at-root {
		@include PSJ_static-responsive-classes($helper-classes, map-get($config, include-responsive-classes), map-get($config, breakpoint-map));
	}
}
