// ------   Text Helpers   ------------------------- /
// ------------------------------------------------- /


@mixin PSJ_text-helpers($config: ()) {

	// ------   Default Configuration   ------------ /

	$config: map-merge((
		include-responsive-classes: true,
		breakpoint-map: $PSJ_breakpoint-map,
		additional-class-map: (),
		include-colors: true,
		include-fonts: true
	), $config);

	// Set up helper classes
	$helper-classes: (
		uppercase: (
			text-transform: uppercase
		),
		lowercase: (
			text-transform: lowercase
		),
		capitalized: (
			text-transform: capitalize
		),
		no-transform: (
			text-transform: none
		),
		align-left: (
			text-align: left
		),
		align-center: (
			text-align: center
		),
		align-right: (
			text-align: right
		)
	);

	// Add colors from color map to helper classes
	@if map-get($config, include-colors) {
		@each $color, $value in $PSJ_color-map {
			$helper-classes: map-merge($helper-classes, (#{'color-' + $color}: (color: $value )));
		}
	}

	// Add fonts from fontmap to helper classes
	@if map-get($config, include-fonts) {
		@each $font, $value in $PSJ_font-map {
			$helper-classes: map-merge($helper-classes, (#{'font-' + $font}: (font-family: $value )));
		}
	}

	// Merge additional classes into helper classes
	$helper-classes: map-merge($helper-classes, map-get($config, additional-class-map));


	// ------   Registration   --------------------- /

	$registration: PSJ_register-module(text-helpers, #{&}, ());


	// ------   Generated CSS   -------------------- /

	@at-root {
		@include PSJ_static-responsive-classes($helper-classes, map-get($config, include-responsive-classes), map-get($config, breakpoint-map));
	}
}
