/* stylelint-disable all */
// ------   Container Module   -------------- /
// ------------------------------------------ /

@mixin containers($config: ()) {

	// Default configuration

	$config: map-merge((
			class: 'container',
			breakpointMap: $breakpointMap,
			padding: 0,
			centered: true,
			renderAsMixin: false
		), $config);


	// Default container (for mobile devices & other tiny screens)

	.#{ map-get($config, class) } {
		width: map-deep-get($breakpointMap, default, containerWidth);
		padding: map-get($config, padding);

		@if map-get($config, centered) == true {
			margin: 0 auto;
		}
	}

	// Container for other screen sizes

	@each $breakpoint, $propMap in map-get($config, breakpointMap) {

		@if $breakpoint != default {

			@media (min-width: map-get($propMap, viewportWidth)) {
				.#{ map-get($config, class) } {
					width: map-get($propMap, containerWidth);
				}
			}

		}
	};
}
