// ------   Container Module   -------------- /
// ------------------------------------------ /


@mixin PSJContainer($config: ()) {


	// ------   Registration   -------------- /

	$registration: register-module(container, map-get($config, class));


	// ------   Default Configuration   ----- /

	$config: map-merge((
		breakpointMap: $breakpointMap,
		padding: 0,
		centered: true
	), $config);

	$id: unique-id();


	// ------   Generated CSS   ------------- /

	@at-root {

		// Placeholder

		%#{$id}-container {

			// Default container (for mobile devices & other tiny screens)

			width: map-deep-get($breakpointMap, default, containerWidth);
			padding: map-get($config, padding);

			@if map-get($config, centered) == true {
				margin: 0 auto;
			}

			// User-generated styling

			@content;

			// Container for other screen sizes

			@each $breakpoint, $propMap in map-get($config, breakpointMap) {

				@if $breakpoint != default {

					@media (min-width: map-get($propMap, viewportWidth)) {
						width: map-get($propMap, containerWidth);
					}
				}
			}
		}

		// Rendered

		& {
			@extend %#{$id}-container;
		}
	}
}
