// ------   Container Module   -------------- /
// ------------------------------------------ /

@mixin containers($config: ()) {

	// Default configuration

	$config: map-merge((
			class: 'container',
			defaultWidth: 90%, // Container width for mobile devices
			padding: 0,
			centered: true
		), $config);


	// Default container (for mobile devices & other tiny screens)

	.#{ map-get($config, class) } {
		width: map-get($config, defaultWidth);
		padding: map-get($config, padding);

		@if map-get($config, centered) == true {
			margin: 0 auto;
		}
	}

	// Container for other screen sizes

	@each $breakpointLabel, $propMap in $breakpointMap {

		@media (min-width: map-get($propMap, viewportWidth)) {
			.#{ map-get($config, class) } {
				width: map-get($propMap, containerWidth);
			}
		}
	};
}