// ------   General Helpers   --------------- /
// ------------------------------------------ /


@mixin PSJGeneralHelpers() {


	// ------   Registration   -------------- /

	$registration: register-module(generalHelpers, #{&});


	// ------   Calculations   -------------- /

	// Box model helpers

	$helperIncrement: 0.5;
	$helperNumber: 10;

	$helpers: (
		types: (
			margin,
			padding
		),
		directions: (
			top,
			right,
			bottom,
			left
		)
	);

	// ------   Generated CSS   ------------- /

	@at-root {

		// Box model helpers

		@each $helperType in map-get($helpers, types) {
			@each $helperDirection in map-get($helpers, directions) {
				$helperAmount: 0;
				@for $i from 1 through $helperNumber {
					$helperAmount: $helperAmount + $helperIncrement;
					&__#{ $helperType }-#{ $helperDirection }--#{ $i } {
						#{ $helperType }-#{ $helperDirection }: $helperAmount + em;
					}
				}
			}
		}

		// Display helpers

		&--invisible {
			visibility: hidden;
			opacity: 0;
		}

		&--hidden {
			display: none;
		}

		&--inline {
			display: inline;
		}

		&--block {
			display: block;
		}

		&--inline-block {
			display: inline-block;
		}
	}
}
