/* stylelint-disable all */
// ------   Text Sizing Module   ------------ /
// ------------------------------------------ /


@mixin text-sizing($config: ()){

	// ------   Default Configuration   ----- /

	$config: map-merge((
		namespace: '',
		breakpointMap: $breakpointMap,
		textMap: $textMap,
		renderAsMixin: false,
		renderAsExtendable: false
	), $config);



	// ------   Generated CSS   ------------- /

	@each $element, $breakpointMap in map-get($config, textMap) {

		@each $breakpoint, $propMap in $breakpointMap {

			// Defaults

			@if $breakpoint == default {

				#{$element} {
					@each $prop, $value in $propMap {
						#{$prop}: #{$value};
					}
				}
			}

			// Responsive

			@else {

				// Only print CSS if breakpoint exists in both the text map and the breakpoint map

				@if map-has-key(map-get($config, breakpointMap), $breakpoint) {
					@media screen and (min-width: map-deep-get($config, breakpointMap, $breakpoint, viewportWidth)) {
						#{$element} {
							@each $prop, $value in $propMap {
								#{$prop}: #{$value};
							}
						}
					}
				}

				@else {
					@warn 'You have breakpoints in your breakpoint map that do not exist in your text map or vice versa. Check to make sure this is what you want.';
				}
			}
		}
	}
}
