$colorMap: map-merge((
	primary: #ba141a,
	secondary: #ea5e25,
	tertiary: "",
	quaternary: "",
	orange: #EFA54B,
	purple: #604BA5,
	midgray: #868687,
	lightgray: #AEAEB0,
	verylightgray: #DDDDDE,
	pseudowhite: #F4F4F5,
	lightpseudowhite: #f8f8f9,
	confirmGreen: #3EB770
), $psj_colorMap);