// ================================================= /
// ======   PHANTASM STRAIGHTJACKET   ============== /
// ================================================= /
// ------   STYLE CONFIGURATION   ------------------ /
// ================================================= /

// - DESCRIPTION: -----------------------------------/
//
//   This file sets the default configuration for
//   StraightJacket. All user configuration objects
//   and variables should be stored here.
//
// ------------------------------------------------- /





// ================================================= /
// ======   Global Proportions   =================== /
// ================================================= /


// - Bases ---------------------------------- /
//
//   DESCRIPTION:
//
//   Defines simple global proportions to
//   use when calculating consistent margins,
//   widths, text sizes, etc.
//
// ------------------------------------------ /

$base: 10px;
$textBase: 14px;




// ================================================= /
// ======   Colors   =============================== /
// ================================================= /

// - Color Map ------------------------------ /
//
//   DESCRIPTION:
//
//   Defines color values that can be easily
//   retrieved using the color() function.
//
//   Simply define a color with any valid
//   CSS value (or SASS value) and pass the
//   name of the key into the color() function
//   to reference it anywhere.
//
// ------------------------------------------ /

$colorMap: (
	black: (
		classModifier: 'black',
		value: #000
	),
	pseudoBlack: (
		classModifier: 'pseudo-black',
		value: #222
	),
	darkGray: (
		classModifier: 'dark-gray',
		value: #5a5a5a
	),
	midGray: (
		classModifier: 'mid-gray',
		value: #adadae
	),
	lightGray: (
		classModifier: 'light-gray',
		value: #d4d4d6
	),
	white: (
		classModifier: 'white',
		value: #fff
	),
	pseudoWhite: (
		classModifier: 'pseudo-white',
		value: #f4f4f4
	)
);




// ================================================= /
// ======   Structure   ============================ /
// ================================================= /


// - Breakpoint Map ------------------------- /
//
//   DESCRIPTION:
//
//   Defines breakpoints necessary for the
//   container and grid modules.
//
//   Also defines reference breakpoints for
//   the text sizing module, although you
//   do not need to use all of them.
//
// ------------------------------------------ /

$breakpointMap: (
	default: (
		containerWidth: 90%
	),
	xs: (
		viewportWidth: 480px,
		containerWidth: 90%
	),
	sm: (
		viewportWidth: 680px,
		containerWidth: 85%
	),
	md: (
		viewportWidth: 768px,
		containerWidth: 680px
	),
	lg: (
		viewportWidth: 1024px,
		containerWidth: 940px
	),
	xl: (
		viewportWidth: 1200px,
		containerWidth: 1080px
	),
	xxl: (
		viewportWidth: 1600px,
		containerWidth: 1400px
	)
);




// ================================================= /
// ======   Text   ================================= /
// ================================================= /

// - Text Map ------------------------------- /
//
//   DESCRIPTION:
//
//   Defines selectors, properties, and
//   values for text elements at each
//   breakpoint corresponding to those
//   in the breakpoint map.
//
//   Note that there does not need to be
//   a 1:1 relationship between the maps
//   although it is highly recommended and
//   thus the default in StraightJacket.
//
// ------------------------------------------ /

$textMap: (

	// Heading 1 styles
	h1: (
		default: (
			font-size: 2.125em,
			line-height: 1.25em
		),
		xs: (
			font-size: 2.6em,
			line-height: 1.25em
		),
		sm: (
			font-size: 2.6em,
			line-height: 1.25em
		),
		md: (
			font-size: 3em,
			line-height: 1.25em
		),
		lg: (
			font-size: 3.25em,
			line-height: 1.125em
		),
		xl: (
			font-size: 3.5em,
			line-height: 1.05em
		),
		xxl: (
			font-size: 3.65em,
			line-height: 1.05em
		),
	),

	// Heading 2 styles
	h2: (
		default: (
			font-size: 1.3em,
			line-height: 1.125em
		),
		xs: (
			font-size: 1.35em,
			line-height: 1.15384614em
		),
		sm: (
			font-size: 1.35em,
			line-height: 1.15384614em
		),
		md: (
			font-size: 1.35em,
			line-height: 1.25em
		),
		lg: (
			font-size: 1.55em,
			line-height: 1.25em
		),
		xl: (
			font-size: 1.65em,
			line-height: 1.25em
		),
		xxl: (
			font-size: 1.65em,
			line-height: 1.25em
		),
	),

	// Heading 3 styles
	h3: (
		default: (
			font-size: 1.75em,
			line-height: 1.125em
		),
		xs: (
			font-size: 1.75em,
			line-height: 1.13636364em
		),
		sm: (
			font-size: 1.75em,
			line-height: 1.13636364em
		),
		md: (
			font-size: 1.75em,
			line-height: 1.25em
		),
		lg: (
			font-size: 2.2em,
			line-height: 1.225em
		),
		xl: (
			font-size: 2.375em,
			line-height: 1.225em
		),
		xxl: (
			font-size: 2.375em,
			line-height: 1.225em
		),
	),

	// Heading 4 styles
	h4: (
		default: (
			font-size: 1.25em,
			line-height: 1.125em
		),
		xs: (
			font-size: 1.25em,
			line-height: 1.11111111em
		),
		sm: (
			font-size: 1.25em,
			line-height: 1.11111111em
		),
		md: (
			font-size: 1.25em,
			line-height: 1.11111111em
		),
		lg: (
			font-size: 1.25em,
			line-height: 1.22222222em
		),
		xl: (
			font-size: 1.25em,
			line-height: 1.22222222em
		),
		xxl: (
			font-size: 1.25em,
			line-height: 1.22222222em
		),
	),

	// Body styles (be vewy vewy cereful)
	body: (
		default: (
			font-size: $textBase,
			line-height: 1.4em
		),
		sm: (
			font-size: $textBase + 2,
			line-height: 1.5em
		),
		xxl: (
			font-size: $textBase + 4,
			line-height: 1.6em
		),
	),


);



// ------------------------------------------------- /

// Reference the StraightJacket core
@import 'core/styles/straightjacket-style-core';

// ------------------------------------------------- /
