// ================================================= /
// ======   PHANTASM STRAIGHTJACKET   ============== /
// ================================================= /
// ------   STYLE CONFIGURATION   ------------------ /
// ================================================= /

// - DESCRIPTION: -----------------------------------/
//
//   This file sets the default configuration for
//   StraightJacket. All user configuration objects
//   and variables should be stored here.
//
// ------------------------------------------------- /





// ================================================= /
// ======   Global Proportions   =================== /
// ================================================= /


// - Bases ---------------------------------- /
//
//   DESCRIPTION:
//
//   Defines simple global proportions to
//   use when calculating consistent margins,
//   widths, text sizes, etc.
//
// ------------------------------------------ /

$PSJ_base: 10px;
$PSJ_textBase: (
	default: 14px,
	xs: 14px,
	sm: 16px,
	md: 16px,
	lg: 16px,
	xl: 16px,
	xxl: 16px
);




// ================================================= /
// ======   Colors   =============================== /
// ================================================= /

// - Color Map ------------------------------------- /
//
//   DESCRIPTION:
//
//   Defines color values that can be easily
//   retrieved using the color() function.
//
//   Simply define a color with any valid
//   CSS value (or SASS value) and pass the
//   name of the key into the color() function
//   to reference it anywhere.
//
// ------------------------------------------------- /

$PSJ_colorMap: (
	black: (
		classModifier: 'black',
		value: #000
	),
	pseudoBlack: (
		classModifier: 'pseudo-black',
		value: #222
	),
	darkGray: (
		classModifier: 'dark-gray',
		value: #5a5a5a
	),
	midGray: (
		classModifier: 'mid-gray',
		value: #adadae
	),
	lightGray: (
		classModifier: 'light-gray',
		value: #d4d4d6
	),
	white: (
		classModifier: 'white',
		value: #fff
	),
	pseudoWhite: (
		classModifier: 'pseudo-white',
		value: #f4f4f4
	)
);




// ================================================= /
// ======   Structure   ============================ /
// ================================================= /


// - Breakpoint Map -------------------------------- /
//
//   DESCRIPTION:
//
//   Defines breakpoints necessary for the
//   container and grid modules.
//
//   Also defines reference breakpoints for
//   the text sizing module, although you
//   do not need to use all of them.
//
// ------------------------------------------------- /

$PSJ_breakpointMap: (
	default: (
		containerWidth: 90%
	),
	xs: (
		viewportWidth: 480px,
		containerWidth: 90%
	),
	sm: (
		viewportWidth: 680px,
		containerWidth: 85%
	),
	md: (
		viewportWidth: 768px,
		containerWidth: 680px
	),
	lg: (
		viewportWidth: 1024px,
		containerWidth: 940px
	),
	xl: (
		viewportWidth: 1200px,
		containerWidth: 1080px
	),
	xxl: (
		viewportWidth: 1600px,
		containerWidth: 1280px
	),
	xxxl: (
		viewportWidth: 1920px,
		containerWidth: 1344px
	),
	longBoi: (
		viewportWidth: 3000px,
		containerWidth: 1440px
	)
);




// ================================================= /
// ======   Text   ================================= /
// ================================================= /

// - Text Map -------------------------------------- /
//
//   DESCRIPTION:
//
//   Defines selectors, properties, and
//   values for text elements at each
//   breakpoint corresponding to those
//   in the breakpoint map.
//
//   Note that there does not need to be
//   a 1:1 relationship between the maps.
//
//   The StraightJacket defaults intentionally
//   do not target very large viewport sizes –
//   depending on your particular text, though,
//   you might want to change that :D.
//
// ------------------------------------------------- /

$PSJ_textMap: (

	// Heading 1 styles
	'heading-1': (
		defaultElement: h1,
		breakpoints: (
			default: (
				font-size: 2.125rem,
				line-height: 1.25
			),
			xs: (
				font-size: 2.6rem,
				line-height: 1.25
			),
			sm: (
				font-size: 2.6rem,
				line-height: 1.25
			),
			md: (
				font-size: 3rem,
				line-height: 1.25
			),
			lg: (
				font-size: 3.25rem,
				line-height: 1.125
			),
			xl: (
				font-size: 3.5rem,
				line-height: 1.05
			),
			xxl: (
				font-size: 3.65rem,
				line-height: 1.05
			)
		)
	),

	// Heading 2 styles
	'heading-2': (
		defaultElement: h2,
		breakpoints: (
			default: (
				font-size: 1.3rem,
				line-height: 1.125
			),
			xs: (
				font-size: 1.35rem,
				line-height: 1.15384614
			),
			sm: (
				font-size: 1.35rem,
				line-height: 1.15384614
			),
			md: (
				font-size: 1.35rem,
				line-height: 1.25
			),
			lg: (
				font-size: 1.55rem,
				line-height: 1.25
			),
			xl: (
				font-size: 1.65rem,
				line-height: 1.25
			),
			xxl: (
				font-size: 1.65rem,
				line-height: 1.25
			)
		)
	),

	// Heading 3 styles
	'heading-3': (
		defaultElement: h3,
		breakpoints: (
			default: (
				font-size: 1.75rem,
				line-height: 1.125
			),
			xs: (
				font-size: 1.75rem,
				line-height: 1.13636364
			),
			sm: (
				font-size: 1.75rem,
				line-height: 1.13636364
			),
			md: (
				font-size: 1.75rem,
				line-height: 1.25
			),
			lg: (
				font-size: 2.2rem,
				line-height: 1.225
			),
			xl: (
				font-size: 2.375rem,
				line-height: 1.225
			),
			xxl: (
				font-size: 2.375rem,
				line-height: 1.225
			)
		)
	),

	// Heading 4 styles
	'heading-4': (
		defaultElement: h4,
		breakpoints: (
			default: (
				font-size: 1.25rem,
				line-height: 1.125
			),
			xs: (
				font-size: 1.25rem,
				line-height: 1.11111111
			),
			sm: (
				font-size: 1.25rem,
				line-height: 1.11111111
			),
			md: (
				font-size: 1.25rem,
				line-height: 1.11111111
			),
			lg: (
				font-size: 1.25rem,
				line-height: 1.22222222
			),
			xl: (
				font-size: 1.25rem,
				line-height: 1.22222222
			),
			xxl: (
				font-size: 1.25rem,
				line-height: 1.22222222
			)
		)
	),

	// Body styles (be vewy vewy cereful)
	'body': (
		defaultElement: html,
		breakpoints: (
			default: (
				font-size: map-get($PSJ_textBase, default),
				line-height: 1.4
			),
			sm: (
				font-size: map-get($PSJ_textBase, sm),
				line-height: 1.5
			),
			xxl: (
				font-size: map-get($PSJ_textBase, xxl),
				line-height: 1.6
			)
		)
	)
);



// ------------------------------------------------- /

// Reference the StraightJacket core
@import 'core/styles/straightjacket-style-core';

// ------------------------------------------------- /
