// ================================================= /
// ======   PHANTASM STRAIGHTJACKET   ============== /
// ================================================= /
// ======   CONFIGURATION   ======================== /
// ================================================= /

// - DESCRIPTION: ---------------------------------- /
//
//   This file sets the default configuration for
//   StraightJacket. All user-generated configuration
//   objects and variables should be either stored
//   or referenced here.
//
// ------------------------------------------------- /





// ================================================= /
// ======   BASES   ================================ /
// ================================================= /


// - BASES ----------------------------------------- /
//
// - Description ----------------------------------- /
//
//   Defines simple global proportions to
//   use when calculating consistent margins,
//   widths, etc.
//
// ------------------------------------------------- /

$PSJ_base: 16px;





// ================================================= /
// ======   STRUCTURE   ============================ /
// ================================================= /


// - BREAKPOINT MAP -------------------------------- /
//
// - Description ----------------------------------- /
//
//   Defines global breakpoints.
//
//   These are labelled breakpoints that dictate
//   viewport widths at which styles should be
//   able to change.
//
// - Schema ---------------------------------------- /
//
//   $breakpoint-map: (
//       breakpoint-name: viewport-width-at-breakpoint,
//   );
//
// - Important notes ------------------------------- /
//
//   Since we are mobile-first, the breakpoint map
//   MUST be in ASCENDING order by viewport width
//   or else a LOT of shit will not work properly.
//
//   I don't know why you'd put a map like this out
//   of order in the first place, but hey,
//   this is just a warning.
//
// ------------------------------------------------- /

$PSJ_breakpoint-map: (
	xs: 480px,
	sm: 680px,
	md: 768px,
	lg: 1024px,
	xl: 1200px,
	xxl: 1600px,
	xxxl: 1920px,
	longboi: 3000px
);


// - PROPORTION MAP -------------------------------- /
//
// - Description ----------------------------------- /
//
//   Defines global proportions.
//
//   This is an example of a dynamic responsive value map.
//
//   These are guidelines for things such as padding,
//   margins, positioning, etc. so that they can
//   stay consistent project-wide across each
//   component or module.
//
// - Schema ---------------------------------------- /
//
//   $proportion-map: (
//       proportion-name: (
//           breakpoint-name: proportion-value-at-breakpoint
//       )
//   );
//
// ------------------------------------------------- /

$PSJ_proportion-map: (
	std: (
		default: 3rem,
		md: 4rem,
		lg: 5rem,
		xxl: 6rem,
		longboi: 8rem
	)
);





// ================================================= /
// ======   COLORS   =============================== /
// ================================================= /

// - COLOR MAP ------------------------------------- /
//
// - Description ----------------------------------- /
//
//   Defines color values that can be easily
//   retrieved using the PSJ_color() function.
//
//   This is an example of a static responsive value map.
//
//   Simply define a color with any valid
//   CSS value (or SCSS value) and pass the
//   name of the key into the PSJ_color() function
//   to reference it anywhere.
//
// - Schema ---------------------------------------- /
//
//   $color-map: (
//       color-name: color-value
//   );
//
// ------------------------------------------------- /

$PSJ_color-map: (
	black: #000,
	pseudo-black: #222,
	dark-gray: #5a5a5a,
	mid-gray: #adadae,
	light-gray: #d4d4d6,
	pseudo-white: #f4f4f4,
	white: #fff
);





// ================================================= /
// ======   TEXT   ================================= /
// ================================================= /

// - FONT MAP -------------------------------------- /
//
// - Description ----------------------------------- /
//
//   Defines font family values that can be easily
//   retrieved using the PSJ_font-family() function.
//
//   This is an example of a static responsive value map.
//
//   Simply define a font family with any valid
//   CSS value (or SASS value) and pass the
//   name of the key into the PSJ_font-family() function
//   to reference it anywhere.
//
// - Schema ---------------------------------------- /
//
//   $font-map: (
//       font-name: font-value
//   );
//
// ------------------------------------------------- /

$PSJ_font-family-map: (
	headings: 'Klavika, sans-serif',
	body: 'Copernicus, serif'
);


// ------------------------------------------------- /

// Reference the StraightJacket core
@import 'core/styles/straightjacket-style-core';

// ------------------------------------------------- /
