// ------   Block Helpers Submodule   ------- /
// ------------------------------------------ /


@mixin PSJ_block-helpers() {

	// ------   Registration   -------------- /

	$registration: PSJ_register-module(block-helpers, #{&}, ());


	// ------   Generated CSS   ------------- /

	@at-root {

		// ------   Placeholders   ---------- /

		%PSJ_float-left {
			float: left;
		}

		%PSJ_float-right {
			float: right;
		}

		%PSJ_clear-left {
			clear: left;
		}

		%PSJ_clear-right {
			clear: right;
		}

		%PSJ_clear-both {
			clear: both;
		}

		%PSJ_centered {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}

		// ------   Float Helpers   --------- /

		&--float-left {
			@extend %PSJ_float-left;
		}

		&--float-right {
			@extend %PSJ_float-right;
		}

		&--clear-left {
			@extend %PSJ_clear-left;
		}

		&--clear-right {
			@extend %PSJ_clear-right;
		}

		&--clear-both {
			@extend %PSJ_clear-both;
		}

		// Center (centers block elements within their respective parent elements)

		&--centered {
			@extend %PSJ_centered;
		}
	}
}
