// ================================================= /
// ======   POPOVER MODAL MODULE   ================= /
// ================================================= /

// - DESCRIPTION ----------------------------------- /
//
//   Provides classes and styles for a popover modal.
//
// - Configuration --------------------------------- /
//
//   Parameter: opinionated (bool)
//
//   Description: Determines whether or not the module will
//   output additional styles such as background colors
//   and transitions.
//
// ------------------------------------------------- /


@mixin PSJ_popover-modal($config: ()) {

	// ------   Default Configuration   ------------ /

	$config: map-merge((
		opinionated: true
	), $config);


	// ------   Registration   --------------------- /

	$registration: PSJ_register-module(popover-modal, #{&}, $config);


	// ------   Generated CSS   -------------------- /

	position: fixed;
	z-index: -999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s ease-out, visibility 0s 0.2s, z-index 0s 0.2s;

	// Basic visual styling

	@if map-get($config, opinionated) {
		background: rgba(0, 0, 0, 0.925);
	}

	// User-generated styling

	@content;

	@at-root {

		// Modal while active

		&--active {
			z-index: 10;
			visibility: visible;
			opacity: 1;
			transition: opacity 0.2s ease-out, visibility 0s, z-index 0s;
		}

		// Box

		&__box {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80%;
			height: 80%;
			max-width: 1535px;
			max-height: 865px;
			overflow: hidden;
			transform: translate(-50%, -50%) scale(0.97);
			transition: transform 0.2s ease-out;

			.is-visible & {
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
}
