/* ================================================= /
// ======   PHANTASM STRAIGHTJACKET   ============== /
// ================================================= /
// ------   RESPONSIVE SCSS FRAMEWORK   ------------ /
// ================================================= /

/- DESCRIPTION: -------------------------------------/

   A lightweight and powerful framework designed
   for maximum customizability.

   Straightjacket aims to substantiate complex css
   into a system of awesome features and functions
   that are presented as a collection of modules.

   Straightjacket's modules can be created, destroyed,
   duplicated, and modified at your will to suit the
   project at hand. Tweak your configurations to
   perfection or just jump right in and start firing
   off some defaults. It's all up to you.

   In order to keep your code clean and your project
   fast, Straightjacket makes no assumptions and
   will not act unless called upon, thus keeping
   all of the power where it belongs: in the
   hands of the developer.

   Normalizing styles have been helped along thanks to
   Nicolas Gallagher and Jonathan Neal
   http://necolas.github.com/normalize.css/

/ -------------------------------------------------- /

   VERSION: 1.0 ------------------------------------ /
   RELEASE: OCTOBER 21, 2016 ----------------------- /
   AUTHOR: NICK PATTERSON AT FIFTEEN FOUR ---------- /

   PHANTASM: phantasmcs.net ------------------------ /
   15FOUR: fifteenfour.com ------------------------- /

/ ------------------------------------------------- */


// TABLE OF CONTENTS ------------------------------- /
//
//   #0 Global Module Registration ----------------- /
//
//   #1 Normalization ------------------------------ /
//   #2 Mixins & Functionality --------------------- /
//   #3 General ------------------------------------ /
//   #4 Colors ------------------------------------- /
//   #5 Structure ---------------------------------- /
//   #6 Text --------------------------------------- /
//   #7 Buttons -- WORK IN PROGRESS ---------------- /
//   #8 Popover Modals ----------------------------- /
//   #9 Dropdowns ---------------------------------- /
//   #10 Tooltips ---------------------------------- /
//
// ------------------------------------------------ */


// TODOS ------------------------------------------- /
//
//   1. Finish flexBox grid mode
//   2. Add mobile breakpoints to helper modules
//   3. TEST. TEST. TEST.
//
// -------------------------------------------------- /




// ================================================= /
// ======   #0 Global Module Registration   ======== /
// ================================================= /

// ------------------------------------------------- /

//   Global registration keeps track of all
//   modules that are currently registered,
//   allowing for dynamically namespaced and
//   numbered mixins for each module.
//
// ------------------------------------------------- /

$PSJModuleRegistry: (

	displayHelpers: (),

	container: (),
	grid: (),
	structureHelpers: (),
	blockHelpers: (),
	flexHelpers: (),

	textSizing: (),
	texthelpers: (),

	popoverModal: (),

	tooltip: ()

) !global;




// ================================================= /
// ======   #1 Normalization   ===================== /
// ================================================= /

// ------------------------------------------------- /
//
//   This one is pretty self explanatory.
//   CSS Normalization is good.
//
// ------------------------------------------------- /

@import 'modules/normalization/normalization';




// ================================================= /
// ======   #2 Mixins & Functionality   ============ /
// ================================================= /

@import 'essentials/functionality/internal';
@import 'essentials/functionality/public';

@import 'essentials/mixins/public';




// ================================================= /
// ======   #3 General  ============================ /
// ================================================= /

// ------------------------------------------------- /
//
//   General variables and declarations are here
//
//   Global variables can be found in the
//	 StraightJacket Configuration file.
//
// ------------------------------------------------- /

// ------   Display Helpers Module   -------- /
// ------------------------------------------ /
@import 'modules/general/display-helpers/display-helpers';




// ================================================= /
// ======   #4 Colors   ============================ /
// ================================================= /

// ------------------------------------------------- /
//
//   Global colors live inside of a map that
//	 allows users to easily access them with the
//	 simple color(color) function.
//
//	 This map can be found in the StraightJacket
//	 Configuration file.
//
// ------------------------------------------------- /




// ================================================= /
// ======   #5 Structure   ========================= /
// ================================================= /


// ------   Container Module   -------------- /
// ------------------------------------------ /
@import 'modules/structure/container/container';


// ------   Grid Module   ------------------- /
// ------------------------------------------ /
@import 'modules/structure/grid/grid';

// ------   Structure Helpers Module   ------ /
// ------------------------------------------ /
@import 'modules/structure/structure-helpers/structure-helpers';

// Block helpers submodule
@import 'modules/structure/structure-helpers/submodules/block-helpers';

// Flex helpers submodule
@import 'modules/structure/structure-helpers/submodules/flex-helpers';




// ================================================= /
// ======   #6 Text   ============================== /
// ================================================= /


// ------   Text Sizing Module   ------------ /
// ------------------------------------------ /
@import 'modules/text/text-sizing/text-sizing';

// ------   Text Helpers Module   ----------- /
// ------------------------------------------ /
@import 'modules/text/text-helpers/text-helpers';




// ================================================= /
// ======   #7 Buttons   =========================== /
// ================================================= /

// TODO: Add button module




// ================================================= /
// ======   #8 Popover Modals   ==================== /
// ================================================= /


// ------   Popover Modals Module   --------- /
// ------------------------------------------ /
@import 'modules/popover-modal/popover-modal';




// ================================================= /
// ======   #9 Dropdowns   ========================= /
// ================================================= /

// TODO: Add dropdown module




// ================================================= /
// ======   #10 Tooltips   ========================= /
// ================================================= /

// ------   Tooltips Module   --------------- /
// ------------------------------------------ /
@import 'modules/tooltip/tooltip';
