// ------   Block Helpers Submodule   ------- /
// ------------------------------------------ /


@mixin PSJ_block-helpers($config: ()) {

	// ------   Default Configuration   ----- /

	$config: map-merge((
		include-breakpoints: true,
		breakpoint-map: $PSJ_breakpoint-map
	), $config);

	// Set up helper classes map
	$helper-classes: (
		float-left: (
			float: left
		),
		float-right: (
			float: right
		),
		float-none: (
			float: none
		),
		clear-left: (
			clear: left
		),
		clear-right: (
			clear: right
		),
		clear-both: (
			clear: both
		),
		centered: (
			float: none,
			margin-left: auto,
			margin-right: auto
		)
	);

	// ------   Registration   -------------- /

	$registration: PSJ_register-module(block-helpers, #{&}, ());


	// ------   Generated CSS   ------------- /

	@at-root {
		@include PSJ_map-helper-classes($helper-classes, map-get($config, include-breakpoints), map-get($config, breakpoint-map));
	}
}
