// ------   Flex Helpers  ------------------- /
// ------------------------------------------ /


@mixin PSJ_flex-helpers() {

	// ------   Default Configuration   ----- /

	$config: map-merge((
		include-breakpoints: true,
		breakpoint-map: $PSJ_breakpoint-map
	), $config);

	// Set up helper classes
	$helper-classes: (
		justify-right: (
			justify-content: right
		),
		justify-around: (
			justify-content: space-around
		),
		justify-between: (
			justify-content: space-between
		),
		justify-center: (
			justify-content: center
		),
		align-bottom: (
			align-items: bottom
		),
		align-center: (
			align-items: center
		)
	);


	// ------   Registration   -------------- /

	$registration: PSJ_register-module(flex-helpers, #{&}, ());


	// ------   Generated CSS   ------------- /

	@at-root {
		@include PSJ_map-helper-classes($helper-classes, map-get($config, include-breakpoints), map-get($config, breakpoint-map));
	}
}
