// ================================================= /
// ======   FLEX HELPERS MODULE   ================== /
// ================================================= /

// - DESCRIPTION ----------------------------------- /
//
//   Provides helper classes for display and behavior
//   of flex elements;
//
//   Uses static responsive classes.
//
// - Configuration --------------------------------- /
//
//   Parameter: include-responsive-classes (bool/list)
//
//   Description: Determines which responsive classes
//   to include with each helper class in the module.
//   Passing a bool assumes either all or no responsive
//   classes are to be included.
//
//   ----------------------------------------------- /
//
//   Parameter: breakpoint-map (map)
//
//   Description: Determines which breakpoint map will
//   be used to set the responsive classes.
//
//   ----------------------------------------------- /
//
//   Parameter: additional-class-map (map)
//
//   Description: Additional classes and styles to add.
//
// ------------------------------------------------- /


@mixin PSJ_flex-helpers($config: ()) {

	// ------   Default Configuration   ------------ /

	$config: map-merge((
		include-responsive-classes: true,
		breakpoint-map: $PSJ_breakpoint-map,
		additional-class-map: ()
	), $config);

	// Set up helper classes
	$helper-classes: (

		// Direction
		direction-row: (
			flex-direction: row
		),
		direction-column: (
			flex-direction: column
		),

		// Justification
		justify-start: (
			justify-content: flex-start
		),
		justify-end: (
			justify-content: flex-end
		),
		justify-around: (
			justify-content: space-around
		),
		justify-between: (
			justify-content: space-between
		),
		justify-center: (
			justify-content: center
		),

		// Alignment
		align-start: (
			align-items: flex-start
		),
		align-end: (
			align-items: flex-end
		),
		align-center: (
			align-items: center
		),

		// Align self
		align-self-start: (
			align-self: flex-start
		),
		align-self-end: (
			align-self: flex-end
		),
		align-self-center: (
			align-self: center
		)
	);

	// Merge additional classes into helper classes
	$helper-classes: map-merge($helper-classes, map-get($config, additional-class-map));


	// ------   Registration   --------------------- /

	$registration: PSJ_register-module(flex-helpers, #{&}, ());


	// ------   Generated CSS   -------------------- /

	@at-root {
		@include PSJ_static-responsive-classes($helper-classes, map-get($config, include-responsive-classes), map-get($config, breakpoint-map));
	}
}
