// ------   Structure Helpers Module   ------ /
// ------------------------------------------ /


@mixin PSJ_structure-helpers($config: ()) {

	// ------   Default Configuration   ----- /

	$config: map-merge((
		include-block-helpers: true,
		include-flex-helpers: true
	), $config);


	// ------   Registration   -------------- /

	$registration: PSJ_register-module(structure-helpers, #{&}, $config);


	// ------   Generated CSS   ------------- /

	@at-root {

		// Include block helpers if instructed
		@if (map-get($config, include-block-helpers)) {
			@include PSJ_block-helpers();
		}

		// Include flex helpers if instructed
		@if (map-get($config, include-flex-helpers)) {
			@include PSJ_flex-helpers();
		}
	}
}
