// ================================================= /
// ======   Public Mixins   ======================== /
// ================================================= /


// Clearfix
@mixin PSJ_clearfix() {
	&::after {
		content: '';
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
	}
}
