// ------   Display Helpers   --------------- /
// ------------------------------------------ /


@mixin PSJ_display-helpers() {


	// ------   Registration   -------------- /

	$registration: PSJ_register-module(display-helpers, #{&}, ());


	// ------   Generated CSS   ------------- /

	@at-root {

		// Display helpers
		&--invisible {
			visibility: hidden;
			opacity: 0;
		}

		&--hidden {
			display: none;
		}

		&--inline {
			display: inline;
		}

		&--block {
			display: block;
		}

		&--inline-block {
			display: inline-block;
		}

		&--flex {
			display: flex;
		}
	}
}
