// ------   Display Helpers   --------------- /
// ------------------------------------------ /


@mixin PSJ_display-helpers($config: ()) {

	// ------   Default Configuration   ----- /

	$config: map-merge((
		include-breakpoints: true,
		breakpoint-map: $PSJ_breakpoint-map
	), $config);

	// Set up helper classes
	$helper-classes: (
		invisible: (
			visibility: hidden,
			opacity: 0
		),
		hidden: (
			display: none
		),
		inline: (
			display: inline
		),
		block: (
			display: block
		),
		inline-block: (
			display: inline-block
		),
		flex: (
			display: flex
		)
	);


	// ------   Registration   -------------- /

	$registration: PSJ_register-module(display-helpers, #{&}, ());


	// ------   Generated CSS   ------------- /

	@at-root {
		@include PSJ_map-helper-classes($helper-classes, map-get($config, include-breakpoints), map-get($config, breakpoint-map));
	}
}
