// ------   Container Module   -------------- /
// ------------------------------------------ /


@mixin PSJ_container($config: ()) {

	// ------   Default Configuration   ----- /

	$config: map-merge((
		breakpoint-map: $PSJ_breakpoint-map,
		container-map: $PSJ_container-map,
		centered: true
	), $config);

	$id: unique-id();


	// ------   Registration   -------------- /

	$registration: PSJ_register-module(container, #{&}, $config);


	// ------   Generated CSS   ------------- /

	// Default container (for mobile devices & other tiny screens)
	width: PSJ_map-deep-get($config, container-map, default);

	// Center container if instructed
	@if map-get($config, centered) == true {
		margin: 0 auto;
	}

	// User-generated styling
	@content;

	// Container for other screen sizes
	@each $breakpoint, $prop-map in map-get($config, breakpoint-map) {

		@if $breakpoint != default {

			@media (min-width: map-get($prop-map, viewport-width)) {
				width: PSJ_map-deep-get($config, container-map, $breakpoint);
			}
		}
	}
}
