// ------   Container Module   --------------------- /
// ------------------------------------------------- /

// Default container map
$PSJ_container-map: (
	default: 90%,
	xs: 90%,
	sm: 85%,
	md: 680px,
	lg: 940px,
	xl: 1080px,
	xxl: 1280px,
	xxxl: 1344px,
	longboi: 1440px
);

// Container mixin
@mixin PSJ_container($config: ()) {

	// ------   Default Configuration   ------------ /

	$config: map-merge((
		container-map: $PSJ_container-map,
		breakpoint-map: $PSJ_breakpoint-map,
		centered: true
	), $config);

	$id: unique-id();


	// ------   Registration   --------------------- /

	$registration: PSJ_register-module(container, #{&}, $config);


	// ------   Generated CSS   -------------------- /

	// Default container (for mobile devices & other tiny screens)
	width: PSJ_map-deep-get($config, container-map, default);

	// Center container if instructed
	@if map-get($config, centered) == true {
		margin-right: auto;
		margin-left: auto;
	}

	// User-generated styling
	@content;

	// Container for other screen sizes
	@each $breakpoint-label, $viewport-width in map-get($config, breakpoint-map) {

		@media (min-width: $viewport-width) {
			width: PSJ_map-deep-get($config, container-map, $breakpoint-label);
		}
	}
}
